  <%= form_with(model: product) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field input-group flex-nowrap mt-4">
      <span class="input-group-text" id="addon-wrapping"><%= form.label :name %></span>
      <%= form.text_field :name, class:"form-control", placeholder:"Name Product"%>
    </div>

    <div class="field input-group flex-nowrap mt-4 mb-4">
      <span class="input-group-text" id="addon-wrapping"><%= form.label :qty %> </span>
      <%= form.number_field :qty, class:"form-control", placeholder:"Quantity"%>
    </div>

    <div class="field input-group" >
      <%= form.file_field :main_image,  class:"form-control" ,placeholder:"Choose image"%>
    </div>

    <div class="actions">
      <%= form.submit (), class:"button-1 button-sendfrom" %>
    </div>
  <% end %>
