<%= content_tag :tr, id: dom_id(product) do %>
  <td><%= product.name %></td>
  <td><%= product.qty %></td>

  <td><button class="button-1 button-edit"><%= link_to 'Edit', edit_product_path(product), style:"color:black" %></button></td>
  <td><button class="button-1 button-delete" data-bs-toggle="modal" data-bs-target=<%= "#product#{product.id}" %> >Delete</button></td>
  <%= render 'products/modal', product: product  %> 
<% end %>