<div>
    <% if notice %>
    <div id="notice" class="alert alert-info" role="alert">
        <%= notice %>
    </div>
    <% end %>

      <div class="search">
        <h1 class="">Search</h1>
        <div class="input-group mb-3 search-form">
            <%= form_with url: "/products/search", method: :get do |form| %>
              <%= form.text_field :name, class:"form-control", placeholder:"Search name product" %>
              <%= form.submit "Search", class:"button-1 btn-search" %>
            <% end %>
        </div>
      </div>

    <div class="mt-5">
     <h1 class="mb-3">Products</h1>
      <button class="button-1 btn-newproduct"><%= link_to 'New Product', new_product_path, style:"color:white" %></button>


      <div class="tb-container">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Name</th>
            <th>Qty</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
          <% if can? :read, product %>
            <tr>
              <td>
              <%= image_tag product.main_image, class:"rounded mx-auto d-block", height:70, width:70 %>
              <%
=begin%>
 <% if product.main_image.attached? %>
              <div class="main_image">
                <%= image_tag product.main_image, class:"rounded mx-auto d-block", height:70, width:70 %>
              </div>
              <% end %> 
<%
=end%>
              </td>
              <td><%= product.name %></td>
              <td><%= product.qty %></td>
              <% if can? :update, product %>
              <td><button class="button-1 button-edit"><%= link_to 'Edit', edit_product_path(product), style:"color:black" %></button></td>
              <% end %>
              <% if can? :destroy, product %>
              <td><button class="button-1 button-delete" data-bs-toggle="modal" data-bs-target=<%= "#product#{product.id}" %> >Delete</button></td>
              <% end %>
            </tr>
            <%= render 'modal', product: product  %> 
            <% end %>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <br>

</div>